<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password GEnerator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="flex items-center px-10 justify-between w-full h-14 text-white bg-black">
        <span class="text-blue-500 font-bold"><a href="/">Varshil J. Patel</a></span>
        <ul>
            <li class="list-none font-medium text-sm"><a href="https://varshil-word-counter.netlify.app/"
                    target="_blank">Word Counter</a></li>
        </ul>
    </nav>
    <main class="flex flex-col bg-slate-950 items-center text-white w-full h-screen">
        <h1 class="uppercase text-lg font-bold text-center text-blue-500 mt-10">Password Generator</h1>
        <form action="" class="max-w-[600px] w-[85%]">
            <input type="text" placeholder="Number of charcters"
                class="bg-transparent border-b-[1px] w-full pl-0 py-2 outline-none placeholder-gray-400 mt-20" />
            <p id="err" class="text-[red] transition-all text-left hidden mt-2 clear-both">Must enter a number</p>
            <button type="submit"
                class="bg-slate-700 mt-8 text-xs font-semibold py-3 px-6 float-left hover:bg-blue-800 hover:scale-105 transition-all rounded-sm">Generate</button>
        </form>
        <textarea cols="1" rows="1"
            class="resize-none outline-none p-4 py-1 border-slate-500 transition-all border-[1px] rounded-sm w-[85%] bg-slate-800 max-w-[600px] mt-10"><%= password %></textarea>
    </main>
    <script>
        var btn = document.querySelector('button');
        var input = document.querySelector('input');
        var textarea = document.querySelector('textarea');
        var form = document.querySelector('form');
        var err = document.querySelector('#err');

        textarea.style.display = 'none';

        form.addEventListener('submit', function (event) {
            event.preventDefault();
        });
        textarea.addEventListener('click', async function () {
            await textarea.select();
            await document.execCommand('copy');
        });

        btn.addEventListener('click', function () {
            var data = input.value;
            if (input.value == '' || input.type == ' ') {
                err.classList.remove('hidden')
                err.classList.add('block')
                setTimeout(() => {
                    err.classList.add('hidden')
                    err.classList.remove('block')
                }, 3000);
            } else if (input.value != '') {
                console.log(textarea.value);
                const api = fetch('http://localhost:8080/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        input: data,
                    })
                })
                textarea.style.display = 'block';
            } else {
                new Error;
            }
        });
    </script>
</body>

</html>